<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CleverTapDisableIDFV</key>
	<true/>
	<key>CleverTapRegion</key>
	<string>us1</string>
	<key>CleverTapToken</key>
	<string>TEST-106-304</string>
	<key>CleverTapAccountID</key>
	<string>4WK-6WZ-Z76Z</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).NotificationService</string>
	</dict>
</dict>
</plist>
